django>=5.0,<6.0
djangorestframework>=3.15,<4.0
djangorestframework-simplejwt>=5.3,<6.0
django-cors-headers>=4.4,<5.0
djangorestframework-camel-case>=1.4,<2.0
dj-database-url>=2.2,<3.0
gunicorn
gunicorn>=22.0,<23.0
psycopg2-binary>=2.9,<3.0
whitenoise>=6.7,<7.0
python-dotenv>=1.0,<2.0
